.navbar{
    margin: 0;
}
.body{
    height: 600px;
    padding-top: 90px;
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 23px;
}
h2{
    margin-bottom: 130px;
}
p{
    margin-top: 17px;
}
.foot{
    position: absolute;
    bottom: 20px;
}