.navbar{
    margin: 0;
}
.navbar-brand{
    font-size: 23px;
}

.touxiang{
    width: 255px;
    margin-bottom: 25px;
}
.NN{
    margin-top: 35px;
}

.NN2{
    margin-bottom: 20px;
}
.right{
    padding-top: 25px;
}

.body{
    padding-top: 70px;
}

.left{
    padding-bottom: 30px;
}
.foot{
    margin-top: 40px;
}