.navbar{
    margin: 0;
}
.navbar-brand{
    font-size: 23px;
}

.myForm{
    margin-top: 180px;
    margin-bottom: 230px;
}

.myBtnGroup{
    margin-top: 25px;
}
.container-fluid{
    position: relative;
    background-image: url(../PC/bg-Ciruno.jpg);
    background-size:auto 100%;
}

.foot{
    position: absolute;
    bottom: 5px;
    color: #0f0f0f;
}


